.ix_header{
	width: 100vw;
	height: 25vw;
	opacity: 0.3;
}

.ug_header{
	width: 100vw;
	height: 20vw;
	opacity: 0.3;
}

.g_header{
	width: 100vw;
	height: 20vw;
	opacity: 0.3;
}

.e_header{
	width: 100vw;
	height: 20vw;
	opacity: 0.3;
}

.text{
	position: absolute;
	top: 8px;
    left: 16px;
    font-size: 3vw;
    font-weight: bold;
}
