
Tensorflow2forDeepLearning/GettingStartedWithTensorFlow2/Week1/data/mnist.csv
Tensorflow2forDeepLearning/GettingStartedWithTensorFlow2/Week5/data/train_32x32.mat
*.mp4
Tensorflow2forDeepLearning/CustomizingYourModelsWithTensorflow2/Week1/data/images_train.npy
SportsPerformanceAnalytics/WearableTechnologiesAndSportsAnalytics/data/WBBtotal.csv
*.npy
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Week 3 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Capstone Project.ipynb
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Capstone Project.pdf
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Week 1 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Week 2 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/cust_models/Week 4 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/prob_models/Week 1 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/prob_models/Week 2 Programming Assignment.ipynb
Tensorflow2forDeepLearning/Programming Assignments/prob_models/Week 3 Programming Assignment.ipynb
